<%= form_with url: movies_path, local: true, method: :get do |f| %>
	<div class="name">
		<%= f.text_field :name %>
		<%= f.submit "検索する" %>
	</div>
    <div class="is_showing">
		<%= f.label :is_showing,"全て" %>
		<%= f.radio_button :is_showing, 'all', checked: true %>
	</div>
	<div class="is_showing">
		<%= f.label :is_showing,"公開中" %>
		<%= f.radio_button :is_showing, '1', checked: params[:is_showing] == '1' %>
	</div>
	<div class="is_showing">
		<%= f.label :is_showing,"公開予定" %>
		<%= f.radio_button :is_showing, '0', checked: params[:is_showing] == '0' %>
	</div>
<% end %>
  <div>
    <%= link_to '投稿フォーム', '/admin/movies/new' %>
	<%= link_to 'admin一覧', '/admin/movies' %>
    </div>
	
<table>
 <tr>
  <th></th>
  <th>映画タイトル</th>
  <th>ジャンル</th>
  <th>公開年</th>
  <th>上映中か</th>
  <th>概要</th>
  <th>画像URL</th>
 <tr>
<% @movies.each do |movie| %>
 <tr>
  <td>
  <% if movie.favorited_by?(current_user) %>
  <%= link_to movie_favorites_path(movie.id), method: :delete do %>
  <span class="favorite">♥</span><%= movie.favorites.count %>いいね
  <% end %>
  <% else %>
  <%= link_to movie_favorites_path(movie.id), method: :post do %>
  ♡<%= movie.favorites.count %> いいね
  <% end %>
  <% end %>
  </td>
  <td><%= movie.name %></td>
  <td><%= movie.genre %></td>
  <td><%= movie.year %></td>
  <td><%= movie.is_showing == true ? '上映中' : '上映予定' %></td>
  <td><%= movie.description %></td>
  <td><%= image_tag movie.image_url, size: '100x100' %></td>
  <td><%= link_to '詳細', movie_path(movie.id) %></td>
 </tr>
<% end %>
</table>