<h1><%= "#{@date}の予約画面" %></h1>
<table>

<%= form_with url: new_movie_schedule_reservation_path(@movie, @schedule), local: true, method: :get do |f| %>
  <% @sheets.each do |sheet| %>
    <tr>
      <td><%= button_tag sheet.id, name: :sheet_id, value: sheet.id %></td>
    </tr>
  <% end %>
  <%= hidden_field_tag "date", params[:date] %>
  <!--
  <%= hidden_field_tag "date(1i)", params["date(1i)"] %>
  <%= hidden_field_tag "date(2i)", params["date(2i)"] %>
  <%= hidden_field_tag "date(3i)", params["date(3i)"] %>
  -->
<% end %>
</table>

