<h1>作品詳細</h1>
<%= link_to "戻る", :back %>

<h2>作品名<%= @movie.name %></h2><br>
<h2>公開年<%= @movie.year %></h2><br>
<h2>概要<%= @movie.description %></h2><br>
<h2>画像<%= image_tag @movie.image_url %></h2><br>
<h2>上映中か<%= @movie.is_showing == true ? '上映中' : '上映予定' %></h2><br>
<h2>作成日時<%= @movie.created_at %></h2><br>
<h2>更新日時<%= @movie.updated_at %></h2><br>
<% @reservations.each do |reservation| %>
<%= reservation.movie_id %>
<%= reservation.schedule_id %>
<%= reservation.sheet_id %>
<%= reservation.name %>
<%= reservation.email %>
<%= reservation.date %>
<% end %>
<% @schedules.each do |schedule| %>
<%= schedule.schedule_date %>
<%= schedule.start_time.strftime("%H:%M") %>
<%= schedule.end_time.strftime("%H:%M") %>
<% end %>
<%= form_with url: "/movies/#{@movie.id}/reservation", local: true, method: :get, html: { id: 'date_form' } do |f| %>
<%# <%= f.date_select :date %>
<%= select_year Date.today, prefix: 'temp_date', field_name: 'year', start_year: Date.today.year - 5, end_year: Date.today.year + 5 %>
<%= select_month Date.today, prefix: 'temp_date', field_name: 'month' %>
<%= select_day Date.today, prefix: 'temp_date', field_name: 'day' %>
<%= f.hidden_field :date, id: 'combined_date' %>
<%= f.collection_select :schedule_id, @schedules, :id, ->(schedule) { "#{schedule.start_time.strftime("%H:%M")} - #{schedule.end_time.strftime("%H:%M")}" } %>
<%= f.submit "座席を予約する" %>
<% end %>
<button></button>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const form = document.getElementById('date_form');

  form.addEventListener('submit', function(e) {
    const year = document.getElementsByName('temp_date[year]')[0].value;
    const month = document.getElementsByName('temp_date[month]')[0].value;
    const day = document.getElementsByName('temp_date[day]')[0].value;
    const combinedDate = `${year}-${month}-${day}`;
    document.getElementById('combined_date').value = combinedDate;

    // temp_date の要素をフォームから削除することで、不要なクエリパラメータを削除
    ["year", "month", "day"].forEach(function(field) {
      document.getElementsByName(`temp_date[${field}]`)[0].remove();
    });
  });
});
</script>

