<h2>ご予約ページ</h2>
<%= link_to movies_path %>
<%= flash[:notice] %>
<%= form_with model: [:admin, @reservation], url: admin_reservations_path, local: true do |f| %>
<h4>日付の選択</h4>
<%# <%= f.date_select(
        :date,
        start_year: Date.today.year,
        end_year: Date.today.year + 18,
        default: Date.today) %>
<h4>時刻の選択</h4>
<%= f.select :schedule_id, options_from_collection_for_select(@schedules, 'id', lambda { |schedule| 
  "#{schedule.theater.name} #{schedule.movie.name} #{schedule.start_time.strftime('%H:%M')} - #{schedule.end_time.strftime('%H:%M')}"
}) %>

<h4>座席の選択</h4>
<%= f.collection_select :sheet_id, @sheets, :id, :id %>
<h4>氏名</h4>
<%= f.text_field :name %>
<h4>メールアドレス</h4>
<%= f.text_field :email, type: 'email', required: true %>
<%= f.submit '座席を予約する' %>
<% end %>
