<%= form_with model: [:admin, @reservation], url: admin_reservation_path, local: true do |f| %>
<h4>映画館名</h4>
<%= f.text_field :theater_id %>
<h4> スケジュールID </h4>
<%= f.text_field :schedule_id %>
<h4> 座席ID </h4>
<%= f.text_field :sheet_id %>
<h4> 日時 </h4>
<%= f.date_select(
        :date,
        start_year: Date.today.year,
        end_year: Date.today.year + 18,
        default: @reservation.date) %>
<h4> メールアドレス </h4>
<%= f.text_field :email %>
<h4> 名前 </h4>
<%= f.text_field :name %>
<%= f.submit '更新' %>
<%= link_to "戻る", :back %>
<% end %>

