<%= form_with model: [:admin, @reservation], url: admin_reservation_path, local: true do |f| %>
<h4> スケジュールID </h4>
<%= f.select :schedule_id, options_from_collection_for_select(@schedules, 'id', lambda { |schedule| 
  "#{schedule.theater.name} #{schedule.movie.name} #{schedule.start_time.strftime('%H:%M')} - #{schedule.end_time.strftime('%H:%M')}"
}) %>
<h4> 座席ID </h4>
<%= f.select :sheet_id, options_for_select(1..15) %>
<h4> 日時 </h4>
<%= f.date_select(
        :date,
        start_year: Date.today.year,
        end_year: Date.today.year + 18,
        default: @reservation.date) %>
<h4> メールアドレス </h4>
<%= f.text_field :email %>
<h4> 名前 </h4>
<%= f.text_field :name %>
<%= f.submit '更新' %>
<%= link_to "戻る", :back %>
<% end %>

