<h1>作品詳細</h1>
<table>
<tr>
<th>作品名</th>
<th>公開年</th>
<th>概要</th>
<th>画像</th>
<th>上映中か</th>
</tr>

<tr>
<td><%= @movie.name %></td>
<td><%= @movie.year %></td>
<td><%= @movie.description %></td>
<td><%= image_tag @movie.image_url %></td>
<td><%= @movie.is_showing == true ? '上映中' : '上映予定' %></td>
<td><%= link_to 'スケジュール作成',  new_admin_movie_schedule_path(@movie) %></td>
<td><%= link_to "スケジュール", admin_schedule_path(@movie.id) %></td>
</tr>
</table>

<table>
<% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.movie_id %></td>
      <td><%= link_to "#{schedule.movie.name}", admin_schedule_path(schedule.id) %></td>
      <td><%= schedule.start_time %></td>
      <td><%= schedule.end_time %></td>
      <td><%= link_to '削除', admin_schedule_path(schedule.id), method: :delete %></td>
    </tr>
  <% end %>
</table>