<h2><%="#{@movie.name}" %>の スケジュール作成ページ</h2>
<%= form_with model: [:admin, @movie, @schedule], local: true do |f| %>
  <%= f.label :schedule_date %>
  <%= f.date_select :schedule_date %>

  <%= f.label :start_time %>
  <%= f.time_select :start_time %>

  <%= f.label :end_time %>
  <%= f.time_select :end_time %>

  <%= f.label :screen_id %>
  <%= f.select :screen_id, options_for_select(1..3) %>

  <%= f.label :theater_id %>
  <%= f.collection_select :theater_id, Theater.all, :id, :name %>

  <%= f.submit 'スケジュール作成' %>
<% end %>
