<h2>詳細ページ</h2>
<table>
<tr>
<th>ID</th>
<th>映画名</th>
<th>開始日付</th>
<th>開始時間</th>
<th>終了時間</th>
</tr>

<tr>
<td><%= @schedule.movie_id %></td>
<td><%= @schedule.movie.name %></td>
<td><%= @schedule.schedule_date %></td>
<td><%= @schedule.start_time %></td>
<td><%= @schedule.end_time %></td>
<td><%= link_to '戻る', request.referer %></td>
</tr>
</table>

<%= form_with model: [:admin, @schedule] do |f| %>
<table>
<tr>
<th>開始日付</th>
<th>開始時間</th>
<th>終了時間</th>
</tr>

<tr>
<td><%= f.text_field :start_time %></td>
<td><%= f.text_field :end_time %></td>
<td><%= f.submit '更新' %>
</tr>
</table>
<% end %>