<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <span><%= link_to "映画一覧へ移動", movies_path %></span>
      <span><%= link_to "映画予約数ランキングへ移動", root_path %></span>
      <span><%= link_to "映画いいね数ランキングへ移動", favorites_path %></span>
      <span><%= link_to "admin/moviesへ移動", admin_movies_path %></span>
      <span><%=  link_to "マイページ", user_path(current_user.id) %></span>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
